.skill__container {
    display: grid;
    justify-content: stretch;
    grid-template-columns: repeat(4, auto);
    column-gap: 20px;
}


@media (max-width: 1023px) {

    .skill__container {
        grid-template-columns: auto;
    }
}

.skill {
    margin-top: 20px;
}

.skill__title {
    margin-top: 0;
}

@media (max-width: 1023px) {

    .skill__title {
        display: inline-block;
        transform: translateY(-7px);
        margin-left: 10px;
    }
}

.skill__text {
    font-size: 1rem;
}


/* Font-Awesome skills icons */

.skill i {
    font-size: 36px;
}

.fa-html5 {
    color: #DE6E3C;
}

.fa-css3-alt {
    color: #53A7DC
}

.fa-js-square {
    color: #F1DE4F;
}

.fa-python {
    color: #456E9C;
}

.fa-git-alt {
    color: #EF391A;
}