<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viktor Bem - Portfolio</title>

    <!-- jQuery script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <!-- Font Awesome script -->
    <script defer src="https://kit.fontawesome.com/ce3dcaa409.js" crossorigin="anonymous"></script>

    <!-- Custom stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}">

    {% block head_content %}
    {% endblock %}

</head>

<body>

    {% include 'sections/header.j2' %}

    <main class="main">

        {% block main_content %}
        {% endblock %}

    </main>

</body>

</html>