{% extends 'base.j2' %}

{% block main_content %}

    {% include 'sections/jumbo.j2' %}

    <hr class="main__line">

    {% include 'sections/skills.j2' %}

    <hr class="main__line">

    {% include 'sections/projects.j2' %}

{% endblock %}
