<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">

    <title>Viktor Bem - Resume</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/resume-page.css', _external=True) }}">
</head>

<body>

    {% block body_content %}
    {% endblock %}

</body>

</html>