body {
    background-color: #fff;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

p {
    text-align: left;
}

.link {
    text-decoration: none;
    transition: all 0.2s ease;
}

.column--left {
    padding-right: 20px;
    vertical-align: top;
    width: 75%;
}

.column--right {
    border-left: 1px solid #39A2DB;
    padding-left: 20px;
    vertical-align: top;
    width: 25%;
}

.resume__container {
    background-color: white;
    display: flex;
    justify-content: center;
}

.resume__page {
    background-color: white;
    font-family: sans-serif;
    font-size: 0.9rem;
    padding: 100px;
    width: 1000px;
}

@media print {
    .resume__page {
        padding: 50px 100px;
    }
}

.resume__title {
    border: none;
    color:#39A2DB;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.resume__title--small {
    border-left: 10px solid #39A2DB;
    color: #39A2DB;
    font-size: 1.2rem;
    margin-bottom: 40px;
    padding-left: 30px;
    text-transform: uppercase;
}

.resume__subtitle {
    font-weight: normal;
    margin: 0;
}

.resume__abstract {
    font-size: 1rem;
    width: 100%;
}

.resume__abstract td {
    vertical-align: center;
}

.resume__image {
    border-radius: 50%;
    height: 120px;
    margin-right: 20px;
    width: 120px;
}

.resume__table {
    width: 100%;
}

.resume__line {
    border: none;
    border-top: 1px solid #39A2DB;
    margin: 20px 0;
}

.resume__list {
    list-style-type: none;
    padding-left: 0;
}

.resume__link {
    color: #053742;
}

.resume__link:hover {
    color: #39A2DB;
}

.resume__list .icon {
    display: inline-block;
}

.resume__list .icon > svg {
    fill: #053742;
    height: 15px;
}


/* Job experiences */

.experience {
    margin-bottom: 60px;
}

.experience__title {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: normal;
    margin: 0;
    width: 60%;
}

.experience__subtitle {
    color:#39A2DB;
    display: inline-block;
    font-weight: normal;
    margin: 0;
    width: 35%;
}


/* Footer */

.resume__footer {
    margin: 0 auto;
}

.resume__footer td {
    padding: 0 15px;
}

.resume__footer .icon {
    display: inline-block;
}

.resume__footer .icon > svg {
    fill: #053742;
    height: 36px;
}

.resume__footer-link {
    color: #39A2DB;
}

.resume__footer-link span {
    bottom: 12px;
    margin-left: 10px;
    position: relative;
}
