{% macro project_card(project) %}

    <div class="project__card">
        <div class="project">
            <a class="project__link" href="{{ project.github_link }}" target="_blank">
                <img class="project__image" src="{{ url_for('pages.get_image', image_id=project.image_id) }}" alt="">
            </a>
            <div>
                <h2 class="project__title">{{ project.title }}</h2>
                <p class="project__text">{{ project.description }}</p>
            </div>
        </div>
    </div>

{% endmacro %}