{% macro social(container_class)%}

    <div class="{{ container_class }}">
        <a href="https://www.linkedin.com/in/bemviktor" target="_blank">
            <i class="fa fa-linkedin-square"></i>
        </a>
        <a href="https://twitter.com/malchikkcz" target="_blank">
            <i class="fa fa-twitter-square"></i>
        </a>
        <a href="https://github.com/viktorbem" target="_blank">
            <i class="fa fa-github-square"></i>
        </a>
    </div>

{% endmacro %}