<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title>Viktor Bem - Resume</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resume-page.css') }}">

    <!-- Font Awesome icons -->
    <script src="https://kit.fontawesome.com/ce3dcaa409.js" crossorigin="anonymous" defer></script>
</head>

<body style="margin: 0; padding: 0; background-color: white;">

    <div>
        <section class="resume__container">

            <article class="resume__page">

                <section class="resume__section">

                    <div class="column--left">
                        <h1 class="resume__title">Viktor Bem</h1>
                        <h2 class="resume__subtitle">Programátor samouk.</h2>
                    </div>
                    <div class="column--right">
                        <ul class="resume__list">
                            <li>
                                <i class="fa fa-envelope"> </i>
                                <a class="link resume__link" href="mailto:bem.viktor@hotmail.com">
                                    bem.viktor@hotmail.com
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-globe"> </i>
                                <a class="link resume__link" href="https://www.viktorbem.cz/">www.viktorbem.cz</a>
                            </li>
                            <li>
                                <i class="fa fa-map-marker-alt"> </i>
                                Brno, CZE
                            </li>
                        </ul>
                    </div>

                </section>

                <hr class="resume__line">

                <section class="resume__abstract">
                    <img class="resume__image" src="{{ url_for('static', filename='images/viktor.jpg') }}" alt="">
                    <p>Ahoj, mé jméno je Viktor. Přestože jsem na vysoké škole studoval astrofyziku, rozhodl jsem se
                        svou kariéru spojit s maloobchodem. Jenže svět se mění, proto se dnes intenzivně vzdělávám v
                        programování a doufám v budoucí uplatnění v tomto směru.
                    </p>
                </section>

                <hr class="resume__line">

                <section class="resume__section">
                    <div class="column--left">
                        <h1 class="resume__title--small">Pracovní zkušenosti</h1>

                        {% for experience in experiences %}
                            {% set experience_date_to = "současnost" %}
                            {% if experience.date_to %}
                                {% set experience_date_to = experience.date_to.strftime("%m / %Y") %}
                            {% endif %}
                            <div class="experience">
                                <h3 class="experience__title">
                                    <strong>{{ experience.title_cs }}</strong> v {{ experience.company }}
                                </h3>
                                <h5 class="experience__subtitle">
                                    {{ experience.date_from.strftime("%m / %Y") }} – {{ experience_date_to }}
                                </h5>
                                <p>{{ experience.description_cs }}</p>
                            </div>
                        {% endfor %}

                    </div>

                    <div class="column--right">
                        <h1 class="resume__title--small">Dovednosti</h1>
                        <h3><strong>Technické</strong></h3>
                        <ul class="resume__list">
                            {% for skill in skills %}
                                <li>{{ skill.title }}</li>
                            {% endfor %}
                            <li>Úpravy videa a fotografií</li>
                        </ul>
                        <br>
                        <h3><strong>Profesní</strong></h3>
                        <ul class="resume__list">
                            <li>Efektivní komunikace</li>
                            <li>Prezentační dovednosti</li>
                            <li>Vedení týmu</li>
                            <li>Prodejní dovednosti</li>
                        </ul>
                        <br>
                        <h1 class="resume__title--small">Vzdělání</h1>
                        <ul class="resume__list">
                            <li>
                                <ul class="resume__list">
                                    <li><strong>Bc v astrofyzice</strong></li>
                                    <li>Slezská univerzita v Opavě</li>
                                    <li>2003 - 2008</li>
                                </ul>
                            </li>
                        </ul>
                        <br>
                        <h1 class="resume__title--small">Jazyky</h1>
                        <ul class="resume__list">
                            <li>Čeština (rodilý mluvčí)</li>
                            <li>Angličtina (pokročilý)</li>
                        </ul>

                        <br>
                        <h1 class="resume__title--small">Zájmy</h1>
                        <ul class="resume__list">
                            <li>Programování</li>
                            <li>Geocaching</li>
                            <li>Deskové hry</li>
                            <li>Literatura</li>
                        </ul>
                    </div>

                </section>

                <hr class="resume__line">

                <section class="resume__footer">
                    <div>
                        <a class="link resume__footer-link" href="https://www.linkedin.com/in/bemviktor">
                            <i class="fa fa-linkedin-square"></i>
                            <span>/in/bemviktor</span>
                        </a>
                    </div>
                    <div>
                        <a class="link resume__footer-link" href="https://twitter.com/malchikkcz">
                            <i class="fa fa-twitter-square"></i>
                            <span>/malchikkcz</span>
                        </a>

                    </div>
                    <div>
                        <a class="link resume__footer-link" href="https://github.com/viktorbem">
                            <i class="fa fa-github-square"></i>
                            <span>/viktorbem</span>
                        </a>
                    </div>
                </section>

            </article>

        </section>
    </div>

</body>

</html>