{% from "macros/social.jinja2" import social %}

{% extends 'base.html' %}

{% block main_content %}

<section>

    <h1 class="main__title">Contact Me</h1>
    <p class="main__text">Want to get connected? Follow me on the social channels below.</p>
    {{ social("contact__social") }}
    <br>

</section>

<section>

    <p class="main__text">If you are interested in hiring me for your project or just want to say hi, you can send me an email to
        <a class="main__link" href="mailto:bem.viktor@hotmail.com">bem.viktor@hotmail.com</a> or simply fill in the form below and
        click on the button there to send me an message through Twitter. You might need to login and click the
        "Send" button afterwards.</p>

    <form action="https://twitter.com/messages/compose" target="_blank">

        <input type="text" name="recipient_id" value="1382042020693344262" hidden="yes">
        <textarea class="contact__textarea" name="text" rows="10" placeholder="Write your message here..."></textarea>

        <div class="button__row">
            <button class="button button--primary" type="submit">Tweet Me</button>
        </div>

    </form>

</section>

{% endblock %}